/* header */

.header {
  flex-shrink: 0;

  padding-top: var(--space-10);
  padding-bottom: var(--space-10);
}

.header__content {
  display: flex;

  max-width: 824px;
  margin: 0 auto;
}
.header__content_distribute_betwen {
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  align-items: center;
}

.header__controls {
  display: flex;
  align-self: center;
}
@media screen and (max-width: 1024px) {
  .header__controls {
    align-self: flex-start;
  }
}
