/* icon */
.icon {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}
@media screen and (max-width: 1024px) {
  .icon {
    position: relative;
  }
}

.icon_size_s {
  width: var(--icon-size-28);
  height: var(--icon-size-28);

  line-height: var(--typo-line-height-28);
}
.icon_size_m {
  width: var(--icon-size-36);

  line-height: var(--typo-line-height-36);
}

/* TODO:  возможно стоить переделать на блок icon-content */
.icon ~ .button__text {
  margin-left: 24px;
}
